/*Index*/

/*FUENTES*/
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
	font-weight: normal;
	font-style:normal;
  }
  
  @font-face {
	font-family: "PT_Sans";
	src: url("../fonts/PT_Sans/PTSans-Bold.ttf");
	font-weight: normal;
	font-style:normal;
  }
  
  @font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "ArchitectsDaughter";
	src: url("../fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
  }

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*Barra de Navegacion*/
.navbar{
	display: flex;
	width: 100%;
	height: 15%;
	justify-content: space-around;
	align-items: center;
	background-color: #6a040f;
}

.navbar .logo{
	display: flex;
	flex-basis: 30%;
	height: 15%;
	flex-direction: column;
	justify-content: center;
}

/*Logo*/
.img-logo{
	display: flex;
	width: 10%;
}

.img-logo img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 19% 0% 9% 15%;
	rotate: 90deg;
}

 .text-logo{
	font-family: "Ubuntu";
	display: flex;
	height: 65px;
	color: #fff;
	font-size: 50px;
}

/*Menú*/
.navbar ul{
	display: flex;
	flex-direction: row-reverse;
}

.navbar ul li{
	font-family: "Poppins";
	display: flex;
	font-size: 20px;
}

.navbar li a{
	display: flex;
	margin: 10px;
	justify-content: center;
	text-decoration: none;
	color: #fff;
}
/*Contenedor principal*/
.content{
    display: flex;
	width: 100%;
	height: 100vh;
	padding: 0% 10% 0% 10%;
	justify-content: center;
}

.content .section{
	display: flex;
	width: 70%;
	height: 85%;
	flex-direction: row;
	border: 2px solid #00C17E;
    border-radius: 20px;
    align-self: center;

}

/*Contenedor de ingreso*/
.section .welcome{
	display: flex;
	width: 55%;
	justify-content: center;
	flex-direction: column;
}

.welcome-title{
	display: flex;
	width: 100%;
	flex-direction: row;
    align-items: center;
	justify-content: center;
	margin-top: 20%;
    z-index: 1;  
}

/*Contenedor de la imagen*/
.section .img-page{
	display: flex;
	flex-basis: 50%;
	height: auto;
	justify-content: start;
	margin-top: -46%;
}

/*Imagen*/
.img-page img{
	display: block;
	max-width: 100%;
	height: 101.8%;
	border-radius: 20px 0px 0px 20px;
}

.welcome-title .text-logo{
	font-size: 2vmax;
	color: #6a040f;
	text-align: center;
}

.logo-title{
	display: flex;
	width: 7%;
}

.logo-title img{
	display: block;
	max-width: 100%;
	height: auto;
	rotate: 90deg;
}


 .welcome .text{
	font-family: "PT_Sans";
	width: 100%;
	height: auto;
	font-size: 5vmax;
	text-align: center;
	color: #fff;
}

/*Contenedor del Formulario*/

section .contform{
	display: flex;
	width: 55%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.contform .logo-form{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: row;
	justify-content: center;
}

.logo-form .text-logo{
	font-family: "Ubuntu";
	display: flex;
	height: 65px;
	color: rgb(235, 13, 13);
	font-size: 50px;
}

.contform .slogan{
	font-family: "ArchitectsDaughter";
	width: 100%;
	height: 5%;
	font-size: 1.3vmax;
	font-style: italic;
	text-align: center;
	color: #f48c06;
	margin: -3% 0% 2% -1%;
}

.contform .form{
	display: flex;
	width: 95%;
	height: auto;
	flex-direction: column;
	padding: 1%;
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	margin: 1%;
}

.contform label{
    font-family: "Roboto";
	font-style: normal;
    font-size: 17px;
  } 

  .contform input[type="text"],
  .contform input[type="email"],
  .contform input[type="password"]{
    font-family: "Roboto";
    height: 30px;
    font-size: 15px;
    color: rgb(66, 65, 65);
    margin-bottom: 3.5%;
    border-color: transparent;
    /*border-bottom: 1px solid rgba(200, 199, 199, 0.4);*/
    background-color: transparent;
    transition: all 300ms;
    outline:none;
  }

  .contform input[type="text"]:focus{
  color: rgb(243, 243, 243);
  }

  .contform input[type="email"]:focus{
	color: rgb(243, 243, 243);
	}

  .contform input[type="password"]:focus{
	color: rgb(243, 243, 243);
   }

  .contform input[type="submit"]{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-size: 125%;
  width: 22%;
  padding: 1%;
  cursor: pointer;
  background-color: #f48c06;
  border-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  transition: all 300ms;
  align-self: center; 

}

/*------------------------------------*/

/*AQUI EMPIEZA EL CODIGO DE DANIEL*/
/*
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- 
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- 
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
